@model ChatPartialViewModel

@foreach (var user in Model.Users)
{
    var AmountOfNotSeenMsg = Model.MessageNotifications.FirstOrDefault(i => i.receiverGuid == user.RowGuid).AmountOfNotSeenMsg;
    <div class="user-box" id="userBox-@user.RowGuid">
        <div class="p-3"> <a asp-controller="Chat" asp-action="Text" asp-route-guid="@user.RowGuid"><figure class="mb-4" style="display:inline-block;"><img class="img-fluid rounded-circle" src="~/Images/@user.UserImage" alt="..." style="height:50px; width:50px; margin-right:13px;"></figure>@user.Nickname</a>   </div>
        @if (AmountOfNotSeenMsg != 0)
        {
            <div class="not-seen-msg" id="notifications-box-@user.RowGuid">@AmountOfNotSeenMsg</div>
        }

    </div>
}
@if (Model.Groups.Count != 0)
{


    foreach (var group in Model.Groups)
    {
        var AmountOfNotSeenMsg = Model.MessageNotifications.FirstOrDefault(i => i.receiverGuid == group.Group.RowGuid).AmountOfNotSeenMsg;
        <div class="user-box" id="userBox-@group.Group.RowGuid">


            @if (group.Group.GroupImage == null)
            {
                <div class="p-3">
                    <a id="profile-box" style="display:flex;" asp-controller="Chat" asp-action="Text" asp-route-guid="@group.Group.RowGuid">
                        <figure class="non-image mb-4" fill="dimgray">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-people-fill" width="30" height="30" viewBox="0 0 16 16" fill="dimgray" style="display:inline-block;">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            </svg>
                        </figure>
                        <p style="margin-top:10px;">@group.Group.groupName</p>
                    </a>
                </div>

            }
            else
            {
                <div class="p-3"> <a id="profile-box"><figure class="mb-4" style="display:inline-block;"><img class="img-fluid rounded-circle" alt="..." style="height:50px; width:50px; margin-right:15px;"></figure>@group.Group.groupName </a>   </div>
            }

            @if (AmountOfNotSeenMsg != 0)
            {
                <div class="not-seen-msg" id="notifications-box-@group.Group.RowGuid">@AmountOfNotSeenMsg</div>
            }


        </div>
    }



}