@model ChatViewModel
@section Styles {

    <link rel="stylesheet" href="~/css/chat.css">
}

<div style="width:100%;">

  
    <div class="box">

        <div class="scroll-bar-users">
        <div class="column column-1 border-5">

            

            @foreach (var user in Model.Users)
            {
                 var AmountOfNotSeenMsg = Model.Notifications.FirstOrDefault(i => i.receiverGuid == user.RowGuid).AmountOfNotSeenMsg;
                 <div class="user-box" id ="userBox-@user.RowGuid">
                <div class="p-3"> <a asp-controller="Chat" asp-action="Text" asp-route-guid="@user.RowGuid"><figure class="mb-4" style="display:inline-block;"><img class="img-fluid rounded-circle" src="~/Images/@user.UserImage" alt="..." style="height:50px; width:50px; margin-right:15px;"></figure>@user.Nickname</a>   </div>
                        @if (AmountOfNotSeenMsg != 0)
                        {
                            <div class="not-seen-msg"  id="notifications-box-@user.RowGuid">@AmountOfNotSeenMsg</div>
                        }
                      
                    </div>
            }


        </div>
        </div>
        
        <div class="column column-2">
           
            
            <div class="upper-box">
               
                <img class="img-fluid rounded-circle n-image" src="~/Images/@Model.Receiver.UserImage" alt="...">    
                <p class="n-name">@Model.Receiver.Nickname</p>
                  

            </div>
            
            <div>
                <div class="scroll-bar-messages">


                    <div class="past-messages" id ="pastMessages">

                        @{
                            int i = 0;
                            int j = 0;

                            while (true)
                            {
                                if (i >= Model.AuthorMessages.Count)
                                {
                                    if(j >= Model.ReceiverMessages.Count)
                                    {
                                        break;
                                    }

                                    else if (Model.ReceiverMessages[j].Status == MessageStatus.NotSeen)
                                    {
                                        
                                        <div class="msg-received" data-status="not-seen" data-id=@Model.ReceiverMessages[j].Id>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                         
                                            
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                   
                                                        <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id =@Model.ReceiverMessages[j].repliedMessageId>

                                                            <div class="figure"></div>

                                                            <div class="chat-replied">
                                                                @Model.ReceiverMessages[j].replyingToMessage
                                                            </div>

                                                        </div>

                                                    

                                                   


                                                }



                                                <p>
                                                @Model.ReceiverMessages[j].message
                                                </p>
                                               
                                                </div>
                                        
                                         
                                            </div>
                                    }
                                    else
                                    {

                                        <div class="msg-received" data-status="seen" data-id=@Model.ReceiverMessages[j].Id>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                            
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                    <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id=@Model.ReceiverMessages[j].repliedMessageId>

                                                        <div class="figure"></div>

                                                        <div class="chat-replied">
                                                            @Model.ReceiverMessages[j].replyingToMessage
                                                        </div>

                                                    </div>


                                                }
                                            
                                            
                                            <p>
                                            @Model.ReceiverMessages[j].message
                                            </p>
                                            
                                            </div>
                                        </div>

                                    }
                                    j++;
                                }
                                else if (j >= Model.ReceiverMessages.Count)
                                {
                                    if(i >= Model.AuthorMessages.Count)
                                    {
                                        break;
                                    }
                                    
                                    
                                    <div class="msg-sended" data-id="@Model.AuthorMessages[i].Id">
                                    
                                       

                                        <div class="msg">
                                        
                                        @if(Model.AuthorMessages[i].replyingToMessage != null){

                                                <div class="chat-replied-box @(Model.AuthorMessages[i].replyingTo == "self" ? "sended" : "received")" data-id=@Model.AuthorMessages[i].repliedMessageId>

                                            <div class="figure"></div>

                                                <div class="chat-replied">
                                                    @Model.AuthorMessages[i].replyingToMessage
                                                </div>

                                            </div>


                                        }    
                                        
                                        
                                        <p>@Model.AuthorMessages[i].message</p>
                                        
                                        </div>
                                        
                                        
                                        
                                        <div class="choices">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                            </svg>
                                        </div>
                                        <div class="dropdown">
                                            <div class="forward">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                </svg>Forward
                                            </div>

                                            <div class="reply">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                </svg>Reply
                                            </div>

                                            <div class="delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>Delete
                                            </div>


                                        </div>
                                    </div>

                                    i++;



                                }

                                else if(Model.AuthorMessages[i].createdAt < Model.ReceiverMessages[j].createdAt)
                                {
                                    <div class="msg-sended" data-id="@Model.AuthorMessages[i].Id">

                                       

                                        <div class="msg">

                                            @if (Model.AuthorMessages[i].replyingToMessage != null)
                                            {

                                                <div class="chat-replied-box @(Model.AuthorMessages[i].replyingTo == "self" ? "sended" : "received")" data-id=@Model.AuthorMessages[i].repliedMessageId>

                                                    <div class="figure"></div>

                                                    <div class="chat-replied">
                                                        @Model.AuthorMessages[i].replyingToMessage
                                                    </div>

                                                </div>


                                            }
                                            <p>
                                            @Model.AuthorMessages[i].message
                                            </p>
                                            
                                            
                                            </div>
                                        <div class="choices">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                            </svg>
                                        </div>
                                        <div class="dropdown">
                                            <div class="forward">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                </svg>Forward
                                            </div>

                                            <div class="reply">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                </svg>Reply
                                            </div>

                                            <div class="delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>Delete
                                            </div>


                                        </div>
                                    </div>

                                    i++;

                                }
                                else
                                {
                                    if(Model.ReceiverMessages[j].Status == MessageStatus.NotSeen)
                                    {
                                        <div class="msg-received" data-status="not-seen" data-id=@Model.ReceiverMessages[j].Id>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                           
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                    <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id=@Model.ReceiverMessages[j].repliedMessageId>

                                                        <div class="figure"></div>

                                                        <div class="chat-replied">
                                                            @Model.ReceiverMessages[j].replyingToMessage
                                                        </div>

                                                    </div>


                                                }
                                            
                                                <p>
                                            @Model.ReceiverMessages[j].message
                                                </p>
                                            
                                            </div>
                                        </div>
                                    }
                                    else
                                    {

                                            <div class="msg-received" data-status="seen" data-id=@Model.ReceiverMessages[j].Id>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                           
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                    <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" id=@Model.ReceiverMessages[j].repliedMessageId>

                                                        <div class="figure"></div>

                                                        <div class="chat-replied">
                                                            @Model.ReceiverMessages[j].replyingToMessage
                                                        </div>

                                                    </div>


                                                }
                                            
                                            <p>
                                            @Model.ReceiverMessages[j].message
                                            </p>
                                            
                                            </div>
                                        </div>
                                        
                                    }


                                    j++;

                                    
                                }


                                

                                }

                                }



                    </div>








                   









                    

                    <div class="msg-header" id ="messagesList">



                </div>
                
            </div>
            </div>
            <div class="lower-box-parent">
            <div class="lower-box">
                    <input value="@Model.Author.RowGuid" id="hiddenAuthorGuid" type="hidden" />
                   
                    <input value="@Model.Receiver.RowGuid" id="hiddenReceiverGuid" type="hidden" />
            <div class="reply-box">

                <div class="msg-replied">

                    <div class="replying-to"></div>
                    <div class="replying-to-message"></div>

                </div>


                        <div class="cancel-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>

            </div>
                    <input type="text" placeholder="Write a message" id="messageInput"/>
                <button id ="sendButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                </button>

                    
            </div>
            </div>
            

    </div>




    </div>
</div>


<div class="modal">

    
    
    

<div class="modal-content">

            <h3 style="padding:15px;">Forward Message</h3>

            <hr>

        <div class="modal-scrollbar">
            @foreach(var user in Model.Users)
            {
                
                <div class="modal-list">

                    <div style="display:flex; justify-content:flex-start;">
                        <img class="img-fluid rounded-circle n-image" src="~/Images/@user.UserImage" alt="...">
                        <p class="n-name" style="margin-left:10px; margin-bottom:10px;">@user.UserName</p>
                    </div>

                    <div>

                        <input type="checkbox" value="@user.RowGuid" id ="checkBoxButton" style="height:20px; width:20px;"/>

                    </div>


                </div>



            }


        </div>

   


        <button class="modal-button" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
            </svg>
        </button>

    </div>

</div>






<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalchat.js"></script>
<script src="~/js/site.js"></script>