@model ChatViewModel
@section Styles {

    <link rel="stylesheet" href="~/css/chat.css">
}

<div style="width:100%;">

  
    <div class="box">


     

        <div class="scroll-bar-users">
        <div class="column column-1 border-5">

            <div class="chat-box">

                <h2>Chat</h2>

                <button onclick="createGroup()">
                <div style="height:100%; padding-top:8px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg>
                    </div>
                    </button>
            </div>
            

    

 @await Component.InvokeAsync("ChatUserBox")

        </div>
        </div>
        
        <div class="column column-2">
           
            
            <div class="upper-box">

                @if(Model.Receiver is AppUser appUser){
               
                <img class="img-fluid rounded-circle n-image" src="~/Images/@appUser.UserImage" alt="...">    
                    <p class="n-name">@appUser.Nickname</p>
                    <input id ="GroupOrPrivate" value="Private" hidden />
                }
                else if(Model.Receiver is Group group)
                {

                    if(group.GroupImage == null)
                    {

                        <figure class="non-image mb-4" fill="dimgray" style="position:absolute; top:50%; transform: translateY(-50%); margin-left:4px;">
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-people-fill" width="30" height="30" viewBox="0 0 16 16" fill="dimgray" style="display:inline-block;">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            </svg>
                        </figure>
                    }
                    else
                    {
                        <img class="img-fluid rounded-circle n-image" src="~/Images/@group.GroupImage alt="...">
                    }

                    
                    <p class="n-name" style="margin-left:62px;">@group.groupName</p>

                    <input id="GroupOrPrivate" value="Group" hidden/>
                }


            </div>
            
            <div>
                <div class="scroll-bar-messages">


                    <div class="past-messages" id ="pastMessages">

                        @{
                            int i = 0;
                            int j = 0;

                            while (true)
                            {
                                if (i >= Model.AuthorMessages.Count)
                                {
                                    if(j >= Model.ReceiverMessages.Count)
                                    {
                                        break;
                                    }

                                    else if (Model.ReceiverMessages[j].Status == MessageStatus.NotSeen)
                                    {
                                        
                                        <div class="msg-received" data-status="not-seen" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].groupMessageId) : Model.ReceiverMessages[j].Id)>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                         
                                            
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                   
                                                        <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id =@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].repliedMessageId) : Model.ReceiverMessages[j].repliedMessageId)>

                                                            <div class="figure"></div>

                                                            <div class="chat-replied">
                                                                @Model.ReceiverMessages[j].replyingToMessage
                                                            </div>

                                                        </div>

                                                    

                                                   


                                                }



                                                <p>
                                                @Model.ReceiverMessages[j].message
                                                </p>
                                               
                                                </div>
                                        
                                         
                                            </div>
                                    }
                                    else
                                    {

                                        <div class="msg-received" data-status="seen" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].groupMessageId) : Model.ReceiverMessages[j].Id)>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                            
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                    <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].repliedMessageId) : Model.ReceiverMessages[j].repliedMessageId)>

                                                        <div class="figure"></div>

                                                        <div class="chat-replied">
                                                            @Model.ReceiverMessages[j].replyingToMessage
                                                        </div>

                                                    </div>


                                                }
                                            
                                            
                                            <p>
                                            @Model.ReceiverMessages[j].message
                                            </p>
                                            
                                            </div>
                                        </div>

                                    }
                                    j++;
                                }
                                else if (j >= Model.ReceiverMessages.Count)
                                {
                                    if(i >= Model.AuthorMessages.Count)
                                    {
                                        break;
                                    }


                                    <div class="msg-sended" data-id=@(Model.AuthorMessages[i].messageType == "Group" ? ("G-" + Model.AuthorMessages[i].groupMessageId) : Model.AuthorMessages[i].Id)>
                                    
                                       

                                        <div class="msg">
                                        
                                        @if(Model.AuthorMessages[i].replyingToMessage != null){

                                                <div class="chat-replied-box @(Model.AuthorMessages[i].replyingTo == "self" ? "sended" : "received")" data-id=@(Model.AuthorMessages[i].messageType == "Group" ? ("G-" + Model.AuthorMessages[i].repliedMessageId) : Model.AuthorMessages[i].repliedMessageId)>

                                            <div class="figure"></div>

                                                <div class="chat-replied">
                                                    @Model.AuthorMessages[i].replyingToMessage
                                                </div>

                                            </div>


                                        }    
                                        
                                        
                                        <p>@Model.AuthorMessages[i].message</p>
                                        
                                        </div>
                                        
                                        
                                        
                                        <div class="choices">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                            </svg>
                                        </div>
                                        <div class="dropdown">
                                            <div class="forward">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                </svg>Forward
                                            </div>

                                            <div class="reply">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                </svg>Reply
                                            </div>

                                            <div class="delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>Delete
                                            </div>


                                        </div>
                                    </div>

                                    i++;



                                }

                                else if(Model.AuthorMessages[i].createdAt < Model.ReceiverMessages[j].createdAt)
                                {
                                    <div class="msg-sended" data-id=@(Model.AuthorMessages[i].messageType == "Group" ? ("G-" + Model.AuthorMessages[i].groupMessageId) : Model.AuthorMessages[i].Id)>

                                       

                                        <div class="msg">

                                            @if (Model.AuthorMessages[i].replyingToMessage != null)
                                            {

                                                <div class="chat-replied-box @(Model.AuthorMessages[i].replyingTo == "self" ? "sended" : "received")" data-id=@(Model.AuthorMessages[i].messageType == "Group" ? ("G-" + Model.AuthorMessages[i].repliedMessageId) : Model.AuthorMessages[i].repliedMessageId)>

                                                    <div class="figure"></div>

                                                    <div class="chat-replied">
                                                        @Model.AuthorMessages[i].replyingToMessage
                                                    </div>

                                                </div>


                                            }
                                            <p>
                                            @Model.AuthorMessages[i].message
                                            </p>
                                            
                                            
                                            </div>
                                        <div class="choices">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                            </svg>
                                        </div>
                                        <div class="dropdown">
                                            <div class="forward">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                </svg>Forward
                                            </div>

                                            <div class="reply">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                </svg>Reply
                                            </div>

                                            <div class="delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                </svg>Delete
                                            </div>


                                        </div>
                                    </div>

                                    i++;

                                }
                                else
                                {
                                    if(Model.ReceiverMessages[j].Status == MessageStatus.NotSeen)
                                    {
                                        <div class="msg-received" data-status="not-seen" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].groupMessageId) : Model.ReceiverMessages[j].Id)>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                           
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                    <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].repliedMessageId) : Model.ReceiverMessages[j].repliedMessageId)>

                                                        <div class="figure"></div>

                                                        <div class="chat-replied">
                                                            @Model.ReceiverMessages[j].replyingToMessage
                                                        </div>

                                                    </div>


                                                }
                                            
                                                <p>
                                            @Model.ReceiverMessages[j].message
                                                </p>
                                            
                                            </div>
                                        </div>
                                    }
                                    else
                                    {

                                        <div class="msg-received" data-status="seen" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].groupMessageId) : Model.ReceiverMessages[j].Id)>
                                            <div class="dropdown">
                                                <div class="forward">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708z" />
                                                    </svg>Forward
                                                </div>

                                                <div class="reply">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                                                    </svg>Reply
                                                </div>

                                                <div class="delete">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                                    </svg>Delete
                                                </div>


                                            </div>
                                            <div class="choices">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                    <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
                                                </svg>
                                            </div>
                                           
                                            <div class="msg">

                                                @if (Model.ReceiverMessages[j].replyingToMessage != null)
                                                {

                                                    <div class="chat-replied-box @(Model.ReceiverMessages[j].replyingTo == "self" ? "received" : "sended")" data-id=@(Model.ReceiverMessages[j].messageType == "Group" ? ("G-" + Model.ReceiverMessages[j].repliedMessageId) : Model.ReceiverMessages[j].repliedMessageId)>

                                                        <div class="figure"></div>

                                                        <div class="chat-replied">
                                                            @Model.ReceiverMessages[j].replyingToMessage
                                                        </div>

                                                    </div>


                                                }
                                            
                                            <p>
                                            @Model.ReceiverMessages[j].message
                                            </p>
                                            
                                            </div>
                                        </div>
                                        
                                    }


                                    j++;

                                    
                                }


                                

                                }

                                }



                    </div>








                   









                    

                    <div class="msg-header" id ="messagesList">



                </div>
                
            </div>
            </div>
            <div class="lower-box-parent">
            <div class="lower-box">
                    
                   
                    <input value="@Model.Receiver.RowGuid" id="hiddenReceiverGuid" type="hidden" />
            <div class="reply-box">

                <div class="msg-replied">

                    <div class="replying-to"></div>
                    <div class="replying-to-message"></div>

                </div>


                        <div class="cancel-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                            </svg>
                        </div>

            </div>
                    <input type="text" placeholder="Write a message" id="messageInput"/>
                <button id ="sendButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                </button>

                    
            </div>
            </div>
            

    </div>




    </div>
</div>






@await Component.InvokeAsync("Modal","ForwardMessage");

@await Component.InvokeAsync("Modal","CreateGroup");

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalchat.js"></script>
<script src="~/js/site.js"></script>