@model ChatViewModel
@section Styles {

    <link rel="stylesheet" href="~/css/chat.css">
}

<div style="width:100%;">
    <div class="box">

        <div class="scroll-bar">
        <div class="column column-1 border-5">

            

            @foreach (var user in Model.Users)
            {
                 var AmountOfNotSeenMsg = Model.Notifications.FirstOrDefault(i => i.receiverGuid == user.RowGuid).AmountOfNotSeenMsg;
                 <div class="user-box">
                <div class="p-3"> <a asp-controller="Chat" asp-action="Text" asp-route-guid="@user.RowGuid"><figure class="mb-4" style="display:inline-block;"><img class="img-fluid rounded-circle" src="~/Images/@user.UserImage" alt="..." style="height:50px; width:50px; margin-right:15px;"></figure>@user.Nickname </a>   </div>
                        @if (AmountOfNotSeenMsg != 0)
                        {
                            <div class="not-seen-msg" style="margin-top:26px;" id="notifications-box-@user.RowGuid">+@AmountOfNotSeenMsg</div>
                        }
                        else
                        {
                            <div class="not-seen-msg" style="margin-top:26px; display:none;" id="notifications-box-@user.RowGuid"></div>
                        }
                    </div>
            }


        </div>
        </div>
        
        <div class="column column-2">
            <div class="scroll-bar">
            
            <div class="upper-box">
               
                <img class="img-fluid rounded-circle n-image" src="~/Images/@Model.Receiver.UserImage" alt="...">    
                <p class="n-name">@Model.Receiver.Nickname</p>
                  

            </div>
            
            <div>
               
                
                <div class="past-messages">

                        @if(Model.AuthorMessages.Count != 0 && Model.ReceiverMessages.Count == 0)
                        {
                            foreach(var msg in Model.AuthorMessages)
                            {
                                <div class="msg-sended"><div>@msg.message</div></div>
                            }
                        }
                        else if (Model.AuthorMessages.Count == 0 && Model.ReceiverMessages.Count != 0)
                        {
                            foreach (var msg in Model.ReceiverMessages)
                            {
                                <div class="msg-received"><div>@msg.message</div></div>
                            }
                        }
                        else if (Model.AuthorMessages.Count != 0 && Model.ReceiverMessages.Count != 0)
                        {
                            int j = 0;
                            int i = 0;
                            if(Model.AuthorMessages.Count > Model.ReceiverMessages.Count)
                            {
                               

                                while (true)
                                {
                                    if(j >= Model.ReceiverMessages.Count)
                                    {
                                        if (i >= Model.AuthorMessages.Count)
                                        {
                                            break;
                                        }
                                        <div class="msg-sended"><div>@Model.AuthorMessages[i].message</div></div>
                                        i++;

                                       
                                    }
                                    else if (i >= Model.AuthorMessages.Count)
                                    {
                                        
                                        <div class="msg-received"><div>@Model.ReceiverMessages[j].message</div></div>
                                        j++;
                                    }

                                    else if(Model.AuthorMessages[i].createdAt < Model.ReceiverMessages[j].createdAt)
                                    {
                                        <div class="msg-sended"><div>@Model.AuthorMessages[i].message</div></div>
                                        i++;
                                    }
                                    else
                                    {
                                        <div class="msg-received"><div>@Model.ReceiverMessages[j].message</div></div>
                                        j++;
                                    }
                                }
                            }
                            else if (Model.AuthorMessages.Count <= Model.ReceiverMessages.Count)
                            {
                                while (true)
                                {
                                    if (i >= Model.AuthorMessages.Count)
                                    {
                                        if (j >= Model.ReceiverMessages.Count)
                                        {
                                            break;
                                        }
                                        <div class="msg-received"><div>@Model.ReceiverMessages[j].message</div></div>
                                        j++;


                                    }
                                    else if (j >= Model.ReceiverMessages.Count)
                                    {
                                        <div class="msg-sended"><div>@Model.AuthorMessages[i].message</div></div>
                                        i++;
                                    }

                                    else if (Model.AuthorMessages[i].createdAt < Model.ReceiverMessages[j].createdAt)
                                    {
                                        <div class="msg-sended"><div>@Model.AuthorMessages[i].message</div></div>
                                        i++;
                                    }
                                    else
                                    {
                                        <div class="msg-received"><div>@Model.ReceiverMessages[j].message</div></div>
                                        j++;
                                    }
                                }




                            }
                            
                        }
                      



                </div>

                    <div class="msg-header" id ="messagesList">



                </div>

            </div>
            
            <div class="parent">
            <div class="lower-box">
                    <input value="@Model.Author.RowGuid" id="hiddenAuthorGuid" type="hidden" />
                   
                    <input value="@Model.Receiver.RowGuid" id="hiddenReceiverGuid" type="hidden" />
            <input type="text" placeholder="Write a message" id="messageInput"/>
                <button id ="sendButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                    </svg>
                </button>

                    
            </div>
            </div>
            </div>

    </div>




    </div>
</div>








@* <div class="container">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="userInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div> *@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalchat.js"></script>